{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block section %}
<div class ="container px-4 py-5" id="featured-3">
    <h2 class="fpb-2 border-bottom">Ссылка на то, что у нас переносится или отменено</h2>
</div>
{% endblock section %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <form action="" class="d-flex flex-column mb-3" enctype="multipart/form-data" method="post">
            {% csrf_token %}
                {% for f in form %}
                <div class="col-md-auto">
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                </div>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
            <button class="btn btn-primary" type="submit">Передать данные</button>
        </form>
    </div>
</div>

{% endblock %}
